 <nav class="navbar navbar-default navbar-fixed-top active-container" role="navigation">
  <div class="container">
    <div class="page-header"><a class="btn btn-link" href="<%= params[:repo] %>" target="_blank"><%= params[:repo] %></a></div>
    <div id="query-div"><input type="text" name="repo" id="query" required ></div>
    <div class="preview-head">Instructions</div>
  </div>	
</nav>

<div class="content">
</div>	

<script>

$(document).ready(function(){
 	$( "#query" ).autocomplete({
      source: function( request, response ) {
        var ac_data = new Array();
        $.ajax({
          url: "<%= files_path %>",
          dataType: "json",
          data: {
            query: request.term,
            repo : "<%= params[:repo] %>"
          },
          success: function( data ) {
          	for(var i=0; i<data.length; i++) {
          		ac_data[i] = {};

              if( data[i].filename ) {
          		  ac_data[i].name = data[i].filename; 
          		  ac_data[i].value = "<font size='2px'><b>"+data[i].filename+"</b>"+"<br>"+data[i].path+"</font>"; 
              }
              else {
                ac_data[i].name = data[i].function_name; 
                ac_data[i].value = "<font size='2px'><b>"+data[i].function_name+"</b>"+"<br>"+data[i].path+"</font>"; 
              }
        		  ac_data[i].body = data[i].body;
        		  ac_data[i].path = data[i].path;
              ac_data[i].line_number = data[i].line_number;
            }
            response( ac_data );
          }
        })
      },
      select: function( event, ui ) {
        if (ui.item.line_number) {
          var func_scroll_height = $('span#line-'+ui.item.line_number).offset().top - 190;
          window.scrollTo(0,func_scroll_height);  
          $('span#line-'+ui.item.line_number).css("background-color", "rgba(0, 0, 0, 0)");      
        }
        ui.item.value = $('#query').val();
      },
      focus: function (event, ui) {
    		$(".content").html(ui.item.body);
    		$(".preview-head").html(ui.item.path);
        if (ui.item.line_number) {
          var func_scroll_height = $('span#line-'+ui.item.line_number).offset().top - 190;
          window.scrollTo(0,func_scroll_height);  
          $('span#line-'+ui.item.line_number).css("background-color", "#C8CDD7");      
        }
        return false; 
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
    }).data('ui-autocomplete')._renderItem =  function (ul, item) {
  			return $( "<li>" )
			    .attr( "data-value", item.value )
			    .attr( "data-index", item.index)
			    .append( item.label )
			    .appendTo( ul );
      }
  });
</script>
