<div class="body">
	<div class="container">
		<div> 
			<h1>Github Instant</h1>
			<form name="git_repo" action="/" method="GET">
			<div class="main-input-box">
				<input type="text" class="main-input" name="repo" id="git_repo" required />
			</div>
			<div class="main-search-btn">
				<input type="submit" name="submit" class="univ-btn" />
			</div>	
			</form>	
		</div>
	</div>
</div>
