
<div id="logo">Github Instant</div>

<form name="git-repo" action="/" method="GET" id="home-page-form">
		<input type="text" name="repo" id="git-repo-input" placeholder="GitHub Repository Link" required >
		<input type="submit" class="btn btn-success btn-block" value="Submit" id="git-repo-submit">
</form>	
