<div id="inactive-loader">
  <img src="assets/ajax-loader.gif" alt="Loading..." title="Loading..." width="250" height="130"><br><br>Page will automatically reload when we are done processing the repository
</div>